{% if available_tasks %}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/pure-min.css">
    <div>
    {% for task in available_tasks %}
        <table class="pure-table">
          <thead>
            <tr>
              <th>NAME</th>
              <th>TASK</th>
              <th>PRIORITY</th>
              <th>DUE BY</th>
              <th>COMPLETE BY</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="/tasks/{{ task.assignee }}/">{{ task.assignee }}</a>
              </td>
              <td>  
                <a href="/tasks/{{ task.task_text }}/">{{ task.task_text }}</a>
              </td>
              <td>
                <a href="/tasks/{{ task.priority }}/">{{ task.priority }}</a>
              </td>
              <td>  
                <a href="/tasks/{{ task.due_date }}/">{{ task.due_date }}</a>
              </td>
              <td>  
                <a href="/tasks/{{ task.complete_date }}/">{{ task.complete_date }}</a>
              </td>
            </tr>
          </tbody>      
        </table>
    {% endfor %}
    </div>
{% else %}
    <p>No tasks are available.</p>
{% endif %}